:root {
    /* BACKGROUND */
    --background-default: #cad6c6;
    --paper-patch: #fafafa;
    --paper-patch2: #f5f5f5;
    --border-color: #efefef;
    --divider-color: #dedede;

    /* NOTE COLORS */
    --note-yellow: #fdf3b4;
    --note-teal: #d1eaed;
    --note-pink: #ffdadb;
    --note-orange: #ffd4aa;

    /* TEXT COLORS */
    --text-primary: #212528;
    --text-secondary: #444444;
    --text-tertiary: #858585;

    /* HOVER COLORS */
    --hover-grey: #ebebeb;
    --hover-green: #cad6c6;
}
